{{- if . -}}
  <section class="f5 f4-ns ph3 ph4-ns">
    {{- $widthNormalClass := "center-ns measure mv4 mv5-ns" -}}
    {{- $widthWideClass := "center-ns mw7-m mw9-l w-80-l mv4 mv5-ns" -}}
    {{- $widthFullClass := "mv4 mv5-ns nl3 nr3 nl4-ns nr4-ns" -}}
    {{- range . -}}
      {{- $width := .width -}}
      {{- $inverse := .inverse -}}
      <div class="cms-block
        {{- if and .class (eq .replace_class true) }} {{ .class }}
        {{- else }} {{ .class }}
          {{- if eq $width `full` }} {{ $widthFullClass}}
          {{- else if eq $width `wide` }} {{ $widthWideClass }}
          {{- else }} {{ $widthNormalClass }}
          {{- end -}}
          {{- if and .bg_image .rellax -}} relative pv5 pv6-ns
          {{- else if and .bg_image (not .rellax) }} bg-center cover
          {{- end -}}
        {{- end -}}" id="{{ .id }}"{{ if and .bg_image (not .rellax) }} style="background-image:url('{{ .bg_image }}');"{{ end }}>
        {{- if and .bg_image .rellax -}}
          <div class="absolute absolute--fill overflow-hidden">
            <div class="block-bg absolute top--2 bottom--2 left-0 right-0 bg-center cover rellax"  data-rellax-speed="{{ .rellax }}" data-rellax-percentage="0.25" style="background-image:url('{{ .bg_image }}');"></div>
            {{- if .bg_overlay -}}
              <div class="absolute absolute--fill {{ .bg_overlay }}"></div>
            {{- end -}}
          </div>
        {{- end -}}
        {{- if .heading -}}
          <h2 data-aos="fade-up" class="measure-wide center">{{ .heading }}</h2>
        {{- end -}}
        {{- if .text -}}
          <div data-aos="fade-up" class="cms-content{{ if or (eq $width `full`) (eq $width `wide`) }} measure-wide center{{ end }}{{ if .heading }} mt3{{ end }} cf lh-copy nested-copy-line-height nested-headline-line-height nested-list-reset serif">
            {{- .text | markdownify -}}
          </div>
        {{- end -}}
        {{- with .image_block -}}
          <div class="cms-block-image
          {{- if and .class (eq .replace_class true) }} {{ .class }}
          {{- else }} {{ .class }}
            {{- if .alignment }} mb3-ns w-50-m w-75-l z-2 relative
            {{- if eq .alignment `left` }} cms-block-image-left fl-ns mr4-ns nl4-ns
            {{- else if eq .alignment `right` }} cms-block-image-right fr-ns ml4-ns nr4-ns
            {{- end -}}
          {{- end -}}{{- end -}}">
            {{- if eq .layout "grid" -}}
              {{ partial "image-grid.html" (dict "images" .images "width" $width "columns" .columns "alignment" .alignment) }}
            {{- else -}}
              {{- if eq (len .images) 1 -}}
                {{- $image := index .images 0 -}}
                {{ partial "figure.html" (dict "node" $image "width" $width "alignment" .alignment "class" $image.class "replace_class" $image.replace_class) }}
              {{- else -}}
                {{ partial "gallery.html" (dict "images" .images "width" $width "alignment" .alignment "inverse" $inverse) }}
              {{- end -}}
            {{- end -}}
          </div>
        {{- end -}}
      </div>
    {{- end -}}
  </section>
{{- end -}}