{{ $item := .item }}
{{ $liClass := .liClass }}
{{ $aClass := .aClass }}
<li data-aos="fade-up" class="{{ $liClass }}">
  <a class="project-nav-item db f5 w-100 no-underline color-inherit bg-white br2 shadow-5 grow {{ $aClass }}" href="{{ $item.url }}"{{ with .target }} target="{{.}}"{{ end }}>
  {{ if $item.feature_image }}
    <div class="br2 br--top aspect-ratio aspect-ratio--16x9">
      <div class="aspect-ratio--object cover br2 br--top dim" role="img" style="background:url('{{ $item.feature_image }}') no-repeat center;"></div>
    </div>
  {{ end }}
    <div class="pa3">
      {{ with $item.label }}<div class="f7 fw6 ttu tracked light-silver">{{ . }}</div>{{ end }}
      {{ with $item.title }}<h4 class="f3 f4-m lh-title mt1">{{ . }}</h4>{{ end }}
      {{ with $item.description }}<p class="f6 mt3 gray lh-copy serif">{{ . }}</p>{{ end }}
    </div>
  </a>
</li>
