<footer class="bg-near-black" id="footer">
  {{- if ne $.Page.URL "/contact/" -}}
    {{- with $.Site.GetPage "section" "contact" -}}
      <a href="{{ .Permalink }}" class="db pv6 ph3 ph4-ns no-underline bg-transparent hover-bg-black-40 bg-animate white">
        <div data-aos="fade-up" class="measure center f4">
          <h2 class="f7 white-60 tracked ttu tracked lh-title">{{ .Title }}</h2>
          <p class="measure-narrow mt3 f4 f3-ns lh-copy serif">{{ .Description }}</p>
          <div class="mt4 f1 lh-title fw7">
            <div class="gold">Hire Nass <i class="f3 icon-long-arrow-right dib v-mid ml2 relative"></i></div>
          </div>
        </div>
      </a>
    {{- end -}}
  {{- end -}}
  <div class="ph3 ph4-ns pv3 pv4-ns">
    <div class="measure center f4 white-50">
      <div class="f7">Built from scratch by yours truly – &copy; <span class="current-year"></span> Nassim Donald</div>
    </div>
  </div>
</footer>
