<div data-aos="fade-up" class="media-gallery mw8{{ if .alignment }} mv3{{ else }} mv5{{ end }} center" itemscope itemtype="http://schema.org/ImageGallery">
  {{ $width := .width }}
  {{ $inverse := .inverse }}
  <div class="cf flex items-center animated-media relative">
    {{- range .images -}}
      {{ partial "figure.html" (dict "node" . "isGallery" true "width" $width) }}
    {{- end -}}
  </div>
  <div class="gallery-pager mt1 mt2-ns tc">
    {{- range $index, $value := .images -}}
      <button class="input-reset button-reset bn dib pa1 w-auto bg-transparent v-mid pointer outline-transparent glow{{ if ne $index 0 }} o-60{{ end }}" data-slide="{{ $index }}">
        <div class="br-100 pa1{{ if $inverse }} bg-white-20{{ else }} bg-black-20{{ end }}{{ if eq $index 0 }} bg-gold{{ end }}"></div>
      </button>
    {{- end -}}
  </div>
</div>
