<div class="fixed absolute--fill z-9999 bg-near-black gold" id="ajax-loader">
  <div class="loader loader-thin f-subheadline"></div>
</div>
<div class="near-black">
  <nav class="absolute w-100 top-0 left-0 z-9999 dt f7 f5-ns" id="nav">
    <div class="dtc v-mid">
      <a class="js-ajax-link fl pa3 pa4-ns no-underline color-inherit ttu tracked lh-title o-90 glow" href="{{ .Site.BaseURL }}">
  			<div class="f5 f4-ns fw8 dark-gold" id="nav-title">Nass Donald</div>
        <div class="f7 fw6" id="nav-subtitle">Product designer</div>
      </a>
    </div>
    {{- if .Site.Menus.main -}}
      <div class="dtc v-mid tr">
        <a class="menu-toggle dib v-mid pa3 pa4-ns relative overflow-hidden no-underline color-inherit hover-gold disable-select outline-0" href="#menu" data-toggle="modal">
          <span class="menu-icon dib v-mid relative">
            <span class="db left-50 absolute"></span>
            <span class="db left-50 absolute"></span>
            <span class="db left-50 absolute"></span>
          </span>
        </a>
      </div>
    {{- end -}}
  </nav>
  {{ partial "navigation.html" . }}
  <div id="ajax-container">
    <div class="page active bg-white">
