{{- $width := .width -}}
{{- $columns := .columns -}}
{{- $total := len .images -}}
<div class="media-grid mv5{{ if eq .width `full` }} ph3-ns mw9 center{{ else }} nl3-ns nr3-ns{{ end }} flex-ns flex-wrap justify-center items-baseline cf" itemscope itemtype="http://schema.org/ImageGallery">
{{- range $index, $value := .images -}}
	<div class="fl-ns {{ if .column_class }}{{ .column_class }}{{ else if eq $total 2 -}}
		w-50-ns ph3-ns
	{{- else if eq $total 3 -}}
		{{- if eq $width `full` -}}
			{{- if and $columns (eq $columns 3) -}}
				w-third-ns ph2-ns
			{{- else -}}
				{{- if eq $index 0 -}}
					w-100-m w-third-l ph3-m ph2-l nb4-m
				{{- else -}}
					w-50-m w-third-l ph3-m ph2-l
				{{- end -}}
			{{- end -}}
		{{- else if eq $width `wide` -}}
			{{- if eq $index 0 -}}
				w-100-m w-third-l ph3-ns
			{{- else -}}
				w-50-m w-third-l ph3-ns
			{{- end -}}
		{{- else -}}
			{{- if eq $index 0 -}}
				w-100-ns ph3-ns
			{{- else -}}
				w-50-ns ph3-ns
			{{- end -}}
		{{- end -}}
	{{- else if eq $total 4 -}}
		{{- if eq $width `full` -}}
			w-50-m w-25-l ph4-ns
		{{- else -}}
			w-50-ns ph3-ns
		{{- end -}}
	{{- else }}
		{{- if or (eq $width `full`) (eq $width `wide`) -}}
			{{- if and $columns (eq $columns 3) -}}
				w-50-m w-third-l ph3-m ph4-l
			{{- else -}}
				w-third-m w-25-l ph3-m ph4-l
			{{- end -}}
		{{- else -}}
			w-50-ns ph3-ns
		{{- end -}}
	{{- end -}}">
    {{ partial "figure.html" (dict "node" . "isGrid" true "width" $width) }}
  </div>
{{- end -}}
</div>
