{{- $logoExists := and .page.Params.logo (fileExists (printf "%s%s" "/static" .page.Params.logo)) -}}
{{- $logoAndTitle := and $logoExists .page.Params.logo_and_title -}}
{{- $bgColor := .page.Params.bg_color -}}
{{- $bgImage := .page.Params.bg_image -}}
<header class="jumbotron relative overflow-hidden"{{ if or .inverse $bgImage }} data-inverse="true"{{ end }}>
  <div class="jumbotron-bg absolute absolute--fill bg-center cover rellax{{ if $bgColor }} {{ $bgColor }}{{ else if .inverse }} bg-near-black{{ else }} bg-near-white{{ end }}"{{ if $bgImage }} data-rellax-speed="-3" style="background-image:url('{{ $bgImage }}');"{{ end }}></div>
  <div class="jumbotron-top relative">
    <div class="f4-ns ph3 ph4-ns pb6 {{ if $bgImage }} flex flex-auto min-vh-100{{ end }}{{ if .inverse }} white{{ else }} near-black{{ end }}">
      <div class="jumbotron-text pt6{{ if $bgImage }} mv-auto flex flex-column{{ else }} pt7-l{{ end }} center measure rellax" data-rellax-speed="3">
        {{- if $logoExists -}}
          <div data-aos="fade" data-aos-anchor=".jumbotron" data-aos-duration="750" class="pt4-ns{{ if $logoAndTitle}} w-60 w-40-ns{{ else }} pb4-ns w-80 w-70-ns{{ end }}">
            {{- $image_type_arr := split .page.Params.logo "." -}}
            {{- $image_filename := split (index $image_type_arr 0) "/" -}}
            {{- $image_ext := index $image_type_arr 1 -}}
            {{- if eq $image_ext "svg" -}}
              <!-- Crazy convoluted Hugo bullshit to get SVG viewBox and dimensions -->
              {{- $viewBox := readFile (printf "%s%s" "/static" .page.Params.logo) -}}
              {{- $viewBox := findRE "(?:viewBox=\"(.*?)\")" $viewBox 1 -}}
              {{- $viewBox := index (findRE "(?:[^a-z ]) *( [.0-9]*)+" (index $viewBox 0)) 0 -}}
              {{- $size := split $viewBox " " -}}
              {{- $width := int (index $size 2) -}}
              {{- $height := int (index $size 3) -}}
              {{- $ratio := printf "%.2f" (div (mul (div (mul $height 1.0) $width) 100) 1.0) -}}
              <svg class="db w-100" viewBox="{{ $viewBox }}" preserveAspectRatio="xMidYMin slice" fill="currentColor" aria-hidden="true" style="padding-bottom: {{ $ratio }}%; height: 1px;"><!-- 1px min for Firefox and Chrome -->
                <use xlink:href="#{{ index $image_filename (sub (len $image_filename) 1)}}"></use>
              </svg>
            {{- else -}}
              <img class="db" src="{{ .page.Params.logo }}" alt="{{ .page.Title }}" />
            {{- end -}}
          </div>
        {{- end -}}
        {{- if or $logoAndTitle (ne $logoExists true) -}}
          <h1 data-aos="fade" data-aos-anchor=".jumbotron" data-aos-duration="750" {{ if $logoAndTitle}} data-aos-delay="100"{{ end }} data-aos-easing="ease-out-quart" class="{{ if .page.Title }}{{ if or .page.IsHome (lt (len .page.Title) 21) }}f1 f-subheadline-ns{{ else }}f2 f1-ns{{ end }}{{ end }} pb3 pb4-ns{{ if $logoAndTitle}} pt3{{ else }} pt4-ns{{ end }} lh-solid tracked-tight">{{ if .page.Title }}{{ .page.Title | markdownify }}{{ end }}</h1>
        {{- end -}}
        {{- if or .page.Params.intro .page.Description -}}
          <div data-aos="fade" data-aos-anchor=".jumbotron" data-aos-duration="750" data-aos-easing="ease-out-quart" data-aos-delay="200" class="cms-content {{ if .inverse }}inverse {{ end }}f5 f3-ns lh-copy nested-copy-line-height nested-headline-line-height nested-list-reset serif mt3">{{ with .page.Params.intro }}{{ . | markdownify }}{{ else }}{{ .page.Description }}{{ end }}</div>
        {{- end -}}
      </div>
      <a href="#content" class="absolute left-50 bottom-2 nl4 f3 tc h3 w3{{ if or .page.IsHome (ne .inverse true) }} gold{{ else }} white{{ end }} o-80 glow{{ if $bgImage }}{{ else }} dn-ns{{ end }}">
        <i class="icon-long-arrow-down dib relative"></i>
      </a>
    </div>
  </div>
</header>
