<form action="" class="flex-ns mt3 pt4">

  <fieldset class="bn pa0 relative mb2 mb0-ns mr2-ns flex-auto" name="newsletter" action="newsletter-subscribe">
    <input type="text" id="email" placeholder="Your email" class="input-reset font-inherit pa3 ba br2 b--black-10 input-with-label w-100">
    <label for="email" class="absolute top--2 left-0 pv2 ph3 f7 lh-title silver">Your email</label>
  </fieldset>

  <button class="button-reset pa3 mb3 ba br2 pointer lh-solid b--transparent bg-gold hover-bg-gold color-inherit h-auto w-100 w-auto-ns mb0-ns" type="submit">Submit</button>

</form>
