{{ if gt .paginator.TotalPages 1 }}
<nav id="pagination" class="pagination tc mt4 f7 silver" role="pagination">
  {{if .paginator.HasPrev}}
    <a class="pagination-item pagination-next" href="{{ .paginator.Prev.URL }}">Newer projects</a> |
  {{end}}
    <span class="pagination-info">Page {{ .paginator.PageNumber }} of {{.paginator.TotalPages}}</span>
  {{if .paginator.HasNext}}
     | <a class="pagination-item pagination-prev" href="{{ .paginator.Next.URL }}">Older projects</a>
  {{end}}
</nav>
{{end}}