<div class="projects-list-large pv5 pv6-ns overflow-hidden" id="projects">
  <div class="measure center f4 ph3 ph4-ns">
    <h2 class="f1 lh-title">{{ if .Params.projects.title }}{{ .Params.projects.title }}{{ else }}Projects{{ end }}</h2>
    <div class="mt4 cms-content lh-copy nested-copy-line-height nested-headline-line-height serif">{{ .Params.projects.text | markdownify }}</div>
  </div>
  <div class="mw9 center cf">
    {{ $paginator := .Paginate (where (where .Data.Pages "Type" "project") ".Params.featured" true) 5 }}
    {{ range $index, $page := $paginator.Pages.ByWeight }}
      {{ .Render "li" }}
    {{ end }}
    {{ partial "pagination.html" (dict "paginator" $paginator "site" .Site ) }}
  </div>
</div>
