{{- $complete := ne .Params.wip true -}}
<article class="project {{ if $complete }}project-finished{{ else }}project-wip{{ end }} {{ .Section }} mt4 mt6-ns" id="{{ .Section }}-{{ .File.BaseFileName }}">
  <div class="project-images db relative center mb4 mb0-ns pb5-m pb6-l{{ if ne $complete true }} o-60{{ end }}">
    {{- if $complete }}<a class="project-nav-item no-underline color-inherit hide-child" href="{{ .Permalink }}">{{ end -}}
      {{- with .Params.feature_image -}}
        <div class="project-image-feature w-90-m w-90-l center ph4-ns{{ if $complete }} grow{{ end }}">
          <div data-aos="fade-up" data-aos-easing="ease-out-quart" class="aspect-ratio aspect-ratio--16x9">
            <div class="aspect-ratio--object cover bg-top br2-m br3-l" role="img" style="background-image: url('{{ .image }}');"></div>
            <div class="absolute absolute--fill pv5 flex items-center z-100 f3-m f2-l fw3 serif white{{ if $complete }} child tc f4 bg-black-60 justify-center{{ else }} ph3 tr tc-ns f5 justify-end ml-auto-m w-50-m justify-center-ns{{ end }}">{{ if $complete }}View project{{ else }}In progress&hellip;{{ end }}</div>
          </div>
        </div>
      {{- end -}}
      {{- with .Params.product_image2 -}}
        {{- $imgData := imageConfig (printf "%s%s" "/static" .image) -}}
        {{- $ratio := mul (div (mul $imgData.Height 1.0) $imgData.Width) 100 -}}
        <div class="project-image-left absolute
        {{- if eq .media_type `vinyl` }} left-0 left--2-m left--2-l ml3-m ml2-l pb2-l bottom--2 bottom-0-m bottom-2-l mb1-m mb3-l w-60 w-50-l
        {{- else }} left-0 left--2-m left-0-l ml4-ns pb1 pb0-ns bottom--1 bottom-0-m bottom-2-l mb1 mb2-ns w-30 w-40-ns
        {{- end -}}" style="max-width:{{ $imgData.Width }}px;">
          <div data-aos="fade-right" data-aos-duration="750" data-aos-easing="ease-out-quart" class="aspect-ratio" style="padding-bottom:{{ $ratio }}%;">
            <img itemprop="thumbnail" src="{{ $.Site.Params.dataUriFallback }}" data-src="{{ .image }}" class="lazy db aspect-ratio--object"{{ with .alt }} alt="{{.}}"{{ end }}{{ with $imgData }} width="{{ .Width }}"{{ end }}/>
          </div>
        </div>
      {{- end -}}
      {{- with .Params.product_image1 -}}
        {{- $imgData := imageConfig (printf "%s%s" "/static" .image) -}}
        {{- $ratio := mul (div (mul $imgData.Height 1.0) $imgData.Width) 100 -}}
        <div class="project-image-right dn db-l absolute right-0 bottom-0 mr1 w-third" style="max-width:{{ $imgData.Width }}px;">
          <div data-aos="fade-left" data-aos-delay="150" data-aos-duration="750" data-aos-easing="ease-out-quart" class="aspect-ratio" style="padding-bottom:{{ $ratio }}%;">
            <img itemprop="thumbnail" src="{{ $.Site.Params.dataUriFallback }}" data-src="{{ .image }}" class="lazy db aspect-ratio--object"{{ with .alt }} alt="{{.}}"{{ end }}{{ with $imgData }} width="{{ .Width }}"{{ end }}/>
          </div>
        </div>
      {{- end -}}
    {{- if $complete }}</a>{{- end }}
  </div>
  <div class="relative w-40-l measure-narrow f4 ph3 ph4-m ph4-l{{ if eq .Params.product_image2.media_type `vinyl` }} pt3-m{{ else }} pt2-m{{ end }} pt4-l nt4-m nt6-l ml-auto-m center-l">
    <div class="flex flex-row mr4-m">
      {{- if .Params.project_icon -}}
        {{- $appIconData := imageConfig (printf "%s%s" "/static" .Params.project_icon) -}}
        <div class="dtc v-top project-icon">
          <img class="db" src="{{ .Params.project_icon }}" alt="{{ .Title }} logo"{{ with $appIconData }} width="{{ div .Width 2 }}"{{ end }}/>
        </div>
      {{- end -}}
      <div class="dtc v-top pl3">
        {{- if $complete }}<a class="project-nav-item no-underline color-inherit hover-gold" href="{{ .Permalink }}">{{ end -}}
          <h1 class="f4 f3-l lh-title">{{ .Title }}</h1>
        {{- if $complete }}</a>{{ end -}}
        <p class="f7 f6-ns mt2 lh-copy silver">{{ .Description }}</p>
      </div>
    </div>
  </div>
</article>
