$spinner-border-width: .125em; // ~2px @ 16px;

@keyframes loader-spinner {
  to { transform: rotate(360deg); }
}

.loader {
  &,
  &:before {
    position: absolute;
    margin-top: -($line-height-copy * .5em);
    margin-left: -($line-height-copy * .5em);
    top: 50%;
    left: 50%;
    text-align: center;
    width: $line-height-copy * 1em;
    height: $line-height-copy * 1em;
  }

  &:before {
    content: '';
    box-sizing: border-box;
    border-radius: 50%;
    border: $spinner-border-width solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: loader-spinner .6s linear infinite;
  }
  &.loader-thin:before {
    border-width: $spinner-border-width/2;
  }
}
