@import '../../../node_modules/tachyons-sass/scss/skins';


// Converted Variables


// Custom Media Query Variables


/*

   SKINS
   Docs: http://tachyons.io/docs/themes/skins/

   Classes for setting foreground and background colors on elements.
   If you haven't declared a border color, but set border on an element, it will
   be set to the current text color.

*/

/* Text colors */

.dark-gold,
.hover-dark-gold:hover,
.hover-dark-gold:focus { color: $dark-gold; }

.hx-purple { color: $hx-purple; }
.ss-blue { color: $ss-blue; }

.bg-hx-purple { background-color: $hx-purple; }
.bg-hx-gray { background-color: #F7F7F7; }
.bg-ss-blue { background-color: $ss-blue; }
.bg-ss-gradient-light { background-image: linear-gradient(#e6f5ff, #f2eeff); }
.bg-ss-gradient-light { background-image: linear-gradient(#e6f5ff, #f2eeff); }
.bg-ss-overlay-dark:before {
  content: "";
  opacity: 0.7;
  background-color: $black;
  position: absolute;
  @extend .absolute--fill;
}

.bg-gradient-black-bottom {
  background-image: linear-gradient(to bottom, rgba($black, 0) 50%, rgba($black, 0.5) 100%);
}
