@import '../../../node_modules/tachyons-sass/scss/styles';

#nav {
  $speed: .3s;
  $nav-affix-bg: rgba($white, .98);
  transition: opacity $speed ease-out, color $speed, background-color 0ms, box-shadow 0ms;
  &.affix {
    background-color: $nav-affix-bg; // TODO: Make a nice gradient instead
    // box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    transition: opacity $speed ease-out, transform $speed map-get($aos-easing, ease-out-quart), color $speed $speed, background-color $speed*2 $speed, box-shadow $speed $speed;
    transform: translate(0,100%);
    .modal-open & {
      background-color: transparent;
      transition: none;
    }
  }
  &.inverse #nav-title {
    color: $primary;
  }
  &.up {
    transform: translate(0,0);
  }
  &.focused.affix {
    transform: translate(0,100%);
  }
  &.disabled,
  .loading & {
    opacity: 0;
    transition: none;
  }
  @media #{$breakpoint-small} {
    .modal-open & #nav-subtitle {
      color: $white-80;
    }
  }
  @media #{$breakpoint-not-small} {
    .modal-open & {
      #nav-title {
        color: $white;
      }
      #nav-subtitle {
        color: $near-black;
      }
    }
  }
}

#menu {
  .sub-menu.active > a .caret,
  .menu-item.active > a:not(:hover):not(:focus) {
    color: $primary;
  }
}

// Clients logos - TODO organise into appropriate file
.client-logo {
  max-width: 180px;
  > .aspect-ratio {
    background-size: 400%;
    background-repeat: no-repeat;
  }
}
.client-logo-airparks          { background-position: 0 0; }
.client-logo-alton-towers      { background-position: percentage(1/3) 0; }
.client-logo-bbc-worldwide     { background-position: percentage(1/3*2) 0; }
.client-logo-bcp               { background-position: 100% 0; }
.client-logo-easyjet           { background-position: 0 percentage(1/3); }
.client-logo-essential-travel  { background-position: percentage(1/3) percentage(1/3); }
.client-logo-harry-potter      { background-position: percentage(1/3*2) percentage(1/3); }
.client-logo-holiday-extras    { background-position: 100% percentage(1/3); }
.client-logo-jetparks          { background-position: 0 percentage(1/3*2); }
.client-logo-legoland          { background-position: percentage(1/3) percentage(1/3*2); }
.client-logo-merlin            { background-position: percentage(1/3*2) percentage(1/3*2); }
.client-logo-national-express  { background-position: 100% percentage(1/3*2); }
.client-logo-picturehouse      { background-position: 0 100%; }
.client-logo-purple-parking    { background-position: percentage(1/3) 100%; }
.client-logo-salesseek         { background-position: percentage(1/3*2) 100%; }
.client-logo-thomas-cook       { background-position: 100% 100%; }

// Trusted by logos (SalesSeek) - TODO: organise into appropriate file and make responsive
.trusted-by {
  background-size: 859px 45px;
  background-repeat: no-repeat;
  height: 45px;
}
.trusted-by-res-diary       { background-position: 0 0; width: 245px; }
.trusted-by-husky-finance   { background-position: -248px 0; width: 125px; }
.trusted-by-bio             { background-position: -380px 0; width: 92px; }
.trusted-by-unilad          { background-position: -482px 0; width: 165px; }
.trusted-by-bink            { background-position: -656px 0; width: 76px; }
.trusted-by-westfield       { background-position: -741px 0; width: 118px; }


// Project list
.project-images {
  $speed: .35s;

  max-width: 75rem;

  .project-image-feature {
    transform-origin: 50% 80%;
    max-width: 64rem;
    user-select: none;
  }

  .project-image-feature,
  .project-image-left,
  .project-image-right {
    transition: transform $speed map-get($aos-easing, ease-out-quart);
  }

  .project-finished & {
    > a.active,
    > a:hover,
    > a:focus {
      .project-image-feature {
        transform: scale(1.025);
        @media #{$breakpoint-not-small} {
          transform: scale(1.05);
        }
      }
      .project-image-left {
        transform: translateX(-40px);
      }
      .project-image-right {
        transform: translateX(40px);
      }
    }
  }

  .project-wip & {
    filter: grayscale(100%);
  }
}

.projects-list-large {
  $width: 78px;
  $width-s: $width * .75;
  .project-icon {
    width: $width-s;
    flex: 0 0 $width-s;
    @media #{$breakpoint-large} {
      width: $width;
      flex: 0 0 $width;
    }
  }
}

.bg-iphone-8 {
  figure {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}
