// Variables defined before Tachyons variables because
// the !default flag means the value is a fallback if
// previously undefined

// Asset paths
$img-path: '../img/';
$dev-img-path: 'site/static/img/';

// Colors
$near-black: #19171B;
$near-white: #FAFAFB;
$gold: #E4C882;
$dark-gold: #ab8f4d;
$primary: $gold;
$primary-dark: $dark-gold;
// Brand colors
$hx-purple: #542E91;
$ss-blue: #0394FF;

// Base sizes
$font-size-base: 16px; // = 1rem
// Calculate 1px from rem
$px: (1 / strip-units($font-size-base));

// Type scale
// $font-size-1: 3rem;
// $font-size-2: 2.25rem;
// $font-size-3: 1.5rem;
$font-size-4: 1.3125rem; // ~21px
$font-size-5: 1.125rem; // ~18px
$font-size-6: 1rem; // 16px
$font-size-7: .875rem; // ~14px
// Line heights
$line-height-solid: 1.15;
// $line-height-title: 1.25 !default;
$line-height-copy: 1.58;

// Letter spacing
$letter-spacing-tight: -.0125em;

// Measure widths
$measure: (100em/3); // ~65 characters @ $font-size-4
$measure-narrow: 23em; // ~45 characters @ $font-size-4
$measure-wide: 40em; // ~78 characters @ $font-size-4


// Custom Media Query Variables
$breakpoint-small: 'screen and (max-width: #{30em - $px})';
$breakpoint-not-small: 'screen and (min-width: 30em)';
$breakpoint-medium: 'screen and (min-width: 30em) and (max-width: #{60em - $px})';
$breakpoint-large: 'screen and (min-width: 60em)';


// Import Tachyons default variables
@import '../../../node_modules/tachyons-sass/scss/variables';

// Fonts
$serif: 'Source Serif Pro', #{$serif}; // Concatenate with original value

// Box shadows
$box-shadow-5: 0 11px 45px rgba($black, .12);
