{{- .Scratch.Set "figClass" "" -}}
{{- if .Parent -}}
  {{- .Scratch.Set "figClass" " gallery-item fl w-100 o-0" -}}
{{- else -}}
  {{- if (eq (.Get "alignment") "left") -}}
    {{- .Scratch.Set "figClass" (printf "%s%s" (.Scratch.Get "figClass") " mv5 mb3-ns w-50-m w-75-l fl-ns mr4-ns nl4-ns figure-left") -}}
  {{- else if (eq (.Get "alignment") "right") -}}
    {{- .Scratch.Set "figClass" (printf "%s%s" (.Scratch.Get "figClass") " mv5 mb3-ns w-50-m w-75-l fr-ns ml4-ns nr4-ns figure-right") -}}
  {{- else -}}
    {{- .Scratch.Set "figClass" (printf "%s%s" (.Scratch.Get "figClass") " mv5 mw9 center") -}}
  {{- end -}}
{{- end -}}
{{- if or (fileExists (printf "%s%s" "/static" (.Get "src"))) (fileExists (printf "%s%s" "/static" (.Get "video"))) -}}
  {{- if .Get "video" -}}
    {{- $videoTypeArr := split (.Get "video") "." -}}
    {{- $videoExt := index $videoTypeArr 1 -}}
    {{- $ar := .Get "aspect_ratio" }}
    {{- if and $ar (eq $ar "9x16") -}}
      {{- .Scratch.Set "figClass" (printf "%s%s" (.Scratch.Get "figClass") " figure-ar-9x16") -}}
    {{- end -}}
    <figure {{ if .Parent }}{{ else }}data-aos="{{ if eq (.Get `alignment`) `left` }}fade-right{{ else if eq (.Get `alignment`) `right` }}fade-left{{ else }}fade-up{{ end }}"{{ end }} class="video{{ .Scratch.Get `figClass` }}" itemprop="associatedMedia" itemscope itemtype="http://schema.org/VideoObject">
      <div class="aspect-ratio aspect-ratio--{{ with $ar }}{{.}}{{ else }}16x9{{ end }}">
        <video {{ if .Get "autoplay" }} autoplay{{ end }} loop class="lazy aspect-ratio--object" data-poster="" preload="none" itemprop="video">
          <source src="{{ .Get "video" }}" type="video/mp4">
          <source src="{{ index $videoTypeArr 0 }}.webp" type="video/webm">
        </video>
      </div>
  {{- else -}}
    {{- $imgData := imageConfig (printf "%s%s" "/static" (.Get "src")) -}}
    {{ $ratio := mul (div (mul $imgData.Height 1.0) $imgData.Width) 100 }}
    {{- if (gt $ratio 100) -}}
      {{- .Scratch.Set "figClass" (printf "%s%s" (.Scratch.Get "figClass") " figure-portrait") -}}
    {{- end -}}
    <figure {{ if .Parent }}{{ else }}data-aos="{{ if eq (.Get `alignment`) `left` }}fade-right{{ else if eq (.Get `alignment`) `right` }}fade-left{{ else }}fade-up{{ end }}"{{ end }} class="{{ if eq (.Get `pswp`) true }}pswp-figure {{ end }}{{ .Scratch.Get `figClass` }}" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      {{- if .Get "rellax" -}}
        <a href="{{ .Get `src` }}" class="pswp-link cursor-nesw-resize db relative w-100 h-0"{{ with $imgData }} data-size="{{ .Width }}x{{ .Height }}"{{ end }} itemprop="contentUrl" style="padding-bottom:{{ $ratio }}%;">
      {{- else -}}
        <div class="w-100 h-0{{ if .Get `rellax` }} absolute top-0 left-0 rellax{{ else }} relative{{ end }}"{{ if .Get `rellax` }} data-rellax-speed="{{ .Get `rellax` }}" data-rellax-percentage="0"{{ end }} style="padding-bottom:{{ $ratio }}%;">
      {{- end }}
        <img itemprop="thumbnail" src="{{ $.Page.Site.Params.dataUriFallback }}" data-src="{{ .Get `src` }}" class="lazy w-100 h-100 db absolute top-0 left-0"{{ if or (.Get "alt") (.Get "caption") }} alt="{{ with .Get `alt` }}{{.}}{{else}}{{ .Get `caption` }}{{ end }}"{{ end }}{{ with $imgData }} width="{{.Width}}"{{ end }}/>
      {{- if .Get "rellax" }}</a>{{- else -}}</div>{{- end }}
  {{- end -}}
  {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
    <figcaption class="mt3{{ if or (eq (.Get `alignment`) `left`) (eq (.Get `alignment`) `right`) }} ph2-ns{{ end }}">{{- if isset .Params "title" }}
      <h5 class="f5 f4-ns lh-title fw5">{{.Get "title"}}</h5>{{- end -}}
      {{- if or (.Get "caption") (.Get "attr") }}<div class="serif lh-copy mt1 f7 f6-m f5-l silver">
        {{- .Get "caption" -}}
        {{- with .Get "attrlink" }}<a href="{{.}}">{{- end -}}
          {{- .Get "attr" -}}
        {{- if .Get "attrlink" -}}</a> {{- end -}}
      </div> {{- end }}
    </figcaption>
  {{- end -}}
  </figure>
{{- else -}}
  {{ errorf "Specified file at %s not found." (printf "%s%s" "/static" (.Get "src")) }}
{{- end -}}