{{- with $.Page.Params.trusted_by -}}
  {{- $sprite := .sprite -}}
  <div class="mw9 pv3 pv4-ns tc tl-ns">
    <h6 data-aos="fade-up" class="f7 fw5 lh-title tracked ttu light-silver">Trusted by:</h6>
    <div class="nl3 nr3 nl4-ns nr4-ns o-50">
      {{- range $index, $value := .companies -}}
        <div data-aos="fade-up" data-aos-delay="
          {{- if or (eq $index 1) -}}50
          {{- else if or (eq $index 2) -}}150
          {{- else if or (eq $index 3) -}}200
          {{- else if or (eq $index 4) -}}250
          {{- else if or (eq $index 5) -}}300
          {{- end -}}" class="pa3 pa4-ns mh2 mh0-ns dib v-mid">
          <div class="trusted-by trusted-by-{{ .id }}" style="background-image: url({{ $sprite }});"><span class="clip">{{ .name }}</span></div>
        </div>
      {{- end -}}
    </div>
  </div>
{{- end -}}