{{- define "main" -}}
{{- $baseurl := .Site.BaseURL -}}
<main role="main"{{ with .Params.color }} data-brand-color="{{.}}"{{ end }}>
  <article class="{{ .Section }}">
    {{ partial "jumbotron" (dict "page" . "inverse" true) }}
    <div class="{{ .Section }}-content near-black" id="content">
      <section class="f5 f4-ns pv3 mb5 ph3 ph4-ns bg-near-white">
        {{- if eq .ReadingTime 9999 -}}<!-- temporary disable -->
          <div class="measure center cf">
            <div class="mt3 f7 lh-copy silver">
              <span class="fw6">
                {{- if .Draft }}Unpublished {{ end -}}
                {{- if .Date }}{{ .Date.Format "2006" }}{{ end -}}
              </span>
              {{- with .ReadingTime -}}
                <span class="ml2">&middot;</span><span class="ml2">{{ . }} min read</span>
              {{- end -}}
            </div>
          </div>
        {{- end -}}
        {{- if or .Params.role .Params.project_output -}}
          <div class="measure center mv4 mv5-ns cf">
            {{- if or .Params.role .Params.project_date -}}
              <div data-aos="fade-up" class="fl w-100 w-60-l pr4-l">
                {{- if .Params.role -}}
                  <h2 class="f3 lh-title">Role</h2>
                  <div class="cms-content mt3 lh-copy nested-copy-line-height nested-headline-line-height serif">
                    {{ .Params.role | markdownify }}
                  </div>
                {{- end -}}
                {{- if .Params.project_date -}}
                  <h2 class="mt5 f7 fw5 lh-title tracked ttu silver">Active until</h2>
                  <div class="f5-ns mt3 lh-copy serif">{{ dateFormat "Jan 2006" .Params.project_date }}</div>
                {{- end -}}
              </div>
            {{- end -}}
            {{- if .Params.project_output -}}
              <div data-aos="fade-up" data-aos-delay="100" class="fl w-100 w-40-l mt5 mt0-l">
                <h2 class="f7 fw5 lh-title tracked ttu silver">Output</h2>
                <ul class="list ul mt4 mb0 ml0 pl0 f6 f5-ns lh-copy serif">
                  {{- $len := len .Params.project_output }}
                  {{- range $index, $value := .Params.project_output -}}
                    <li class="{{ if eq $index (sub $len 1) }}mb0{{ else }}mb2{{ end }}">{{ .output }}</li>
                  {{- end -}}
                </ul>
              </div>
            {{- end -}}
          </div>
        {{- end -}}
      </section>
      {{ partial "blocks" .Params.blocks }}
      {{ partial "page-content" . }}
      {{ partial "related-links" .Params.related_links }}
    </div>
    {{- if .Params.tags }}
      <footer class="mt5 ph3 ph4-ns">
        <div class="project-tags f5 f4-ns measure center">
        {{- range $index, $tag := .Params.tags -}}
          <a class="f7 dib no-underline mr2 pv2 ph2 br2 bg-black-05 silver hover-bg-black-10" href="{{ $baseurl }}tags/{{ $tag | urlize | }}/">{{ $tag }}</a>
        {{- end -}}
        </div>
      </footer>
    {{- end }}
  </article>
</main>
{{ partial "related-pages-nav" . }}
{{- end -}}
