<!-- =======
{{ if gt .Paginator.TotalPages 1 }}

<nav class="cf pa3">
    {{ if .Paginator.HasNext }}
    <a class="fl dib link dim black f7 f5-ns b pa2" title="Next Page" href="{{ .Paginator.Next.URL }}">
        &larr; Previous
    </a>
    {{ end }}
    <div class="pagination">
        {{ if .Paginator.HasPrev }}
        <a class="fl dib link dim black f7 f5-ns b pa2" title="Previous Page" href="{{ .Paginator.Prev.URL }}">
            Next &rarr;
        </a>
        {{ end }}
    </div>
</nav>

{{ end }}
>>>>>>> original
 -->
